<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>
  
        <!-- Connection settings -->
	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-44-210-228-110.compute-1.amazonaws.com:5432/d1ci6jiuc02dp5</property>
        <property name="hibernate.connection.username">wqitzugkhceydy</property>
        <property name="hibernate.connection.password">1e5f1a0571fee16561bd63d70f1a934b40572c687dba2bf754692e1ad2e8170a</property>
  
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
  		<property name="hibernate.current_session_context_class">thread</property>
        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- SQL dialect -->
  
        <!-- Annotated entity classes -->
        <mapping class="model.HotelDetail"/>
        <mapping class="model.Hotel"/>
        <mapping class="model.BookDetail"/>
        <mapping class="model.User"/>
        <mapping class="model.UserLogin"/>
        <mapping class="model.Payment"/>
        <mapping class="model.Comment"/>
        <mapping class="model.Book"/>
        
        
         
    </session-factory>
</hibernate-configuration>